extends layout

block content
  .alert.alert-danger
    h1.h3= message
    if error && error.status
      p.mb-0 Código: #{error.status}
  if error && error.stack
    pre.bg-white.border.p-3 #{error.stack}
  a.btn.btn-secondary(href='/cursos') Volver a cursos
